@import url(https://fonts.googleapis.com/css?family=Roboto:300);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(141,194,111);
  font-family: "Roboto", sans-serif;
}

.login-page {
  padding: 8% 0 0;
  display: flex;
  justify-content: center;
}

.card {
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form {
  text-align: center;
}

.form-register {
  display: none;
}

input {
  background: #f2f2f2;
  width: 100%;
  border: 0;
  outline: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

a {
  color: #4CAF50;
}

.button {
  text-transform: uppercase;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button-green {
  background: #4CAF50;
}

.button-blue {
  background: #101A57;
}

.button:hover,
.button:active,
.button:focus {
  background: #43A047;
}

.message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}